<div class="container" align="center">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="row">
                <div class="col-8">
                    <h4 style="text-align:left">Agregar Producto</h4>
                </div>
                <div class="col-4 text-end">
                    <a class="btn btn-secondary" href="/admin/productos"><i class="fa fa-backward"></i> Volver</a>
                </div>
            </div>
            <div style="height:10px"></div>
            <form action="/admin/productos/agregar" method="POST" enctype="multipart/form-data">
                <div class="mb-3 row" align="left">
                    <div class="form-group">
                        <p>
                            <label><input type="checkbox" id="sn_nuevo" name="sn_nuevo" value="1"/>Nuevo Producto</label>
                            <label><input type="checkbox" id="sn_home" name="sn_home" value="1"/>Home</label>
                        </p>
                    </div>
                </div>
                <div class="mb-3 row">
                    <input type="text" class="form-control" placeHolder="Nombre" name="nombre">
                </div>
                <div class="mb-3 row">
                    <input type="text" class="form-control" placeHolder="Precio" name="precio">
                </div>
                <div class="mb-3 row">
                    <textarea type="text" class="form-control" placeHolder="Descripcion" name="descripcion"></textarea>
                </div>
                <div class="mb-3 row">
                    <div class="form-group">
                        <label>Imagen :<input type="file" id="img_id" name="img_id"/></label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            {{#if error}}
                <h5>{{message}}</h5>
            {{/if}}
        </div>
    </div>
</div>