<div class="container" style="margin:50px auto">
    <div class="row">
        <div class="col">
            <p class="text-right">Hola {{ usuario }}!
            <a class="btn btn-danger" href="/admin/login/logout">Cerrar Sesion 
            <i class="fas fa-sign-out-alt"></i></a></p>
        </div>
    </div>
</div>